<div class="container">
  
    
    <h1>Ticket Type </h1>
    
    <form >
        
            <div class="form-group">
              <label for="tickettypeinput">Ticket Type</label>
              <input type="text" class="form-control" id="tickettypeinput"
                  [(ngModel)]="ticketType.ticketType" name="tickettypeinput">
            </div>
         
         
       
            <div class="form-group">
               
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description"
                    [(ngModel)]="ticketType.description" name="description">
            
            </div>
          
            <div class="form-group">
                <label for="workFlow">WorkFlow</label>
                      <select [(ngModel)]="ticketType.workFlow" name = "workFlow" id="workFlow" >
                          <option *ngFor="let workflow of workFlowList"  [value]=  "workFlow">
                                  {{workflow.name}}
                          </option>
                        </select>
            </div>
            
            
            <div class="form-group">
              <label for="archiveId">Status</label>
                  <select [(ngModel)]="ticketType.archiveId" name = "archiveId" id="archiveId" >
                        <option *ngFor="let archiveId of archiveList"  [value]=  "archiveId">
                             {{archiveId}}
                      </option>
                  </select>
            </div>
            

         <div *ngIf="reachBy===0" >
            <button class="btn btn-success" (click)="createTicketType()">Create</button>
          </div>
          <div *ngIf="reachBy===1" >
            <button class="btn btn-success" (click)="updateTicketType()">Update</button>
          </div>
          
            
            
        
      </form>
</div>
 



