
.box {
    width: 400px;
    height:400px;
    padding: 10px;
    border: 2px solid gray;
    margin-top: 170px;
    margin-left: 700px;
}

.signin{
color: #000000;
font-family: Poppins;
font-size: 24px;
}
.fields{
margin-top: 30px;
}
input[type=text], input[type=password] {
    width: 280px;
    height: 50px;
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #0ba8ee; 
    border: none;
    color: white;

    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    border-radius: 12px;
    height: 40px;
    width: 150px;
    margin-top: 30px;
    font-family:Poppins;
}

button:hover {
    opacity: 0.8;
}

span.psw {
    float: right;
    padding-top: 16px;
}
input { 
    text-align: center; 
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

