

.header{
background-color: #01c0c8;
height: 100px;
color: #FFFFFF;
}
.tms{
margin-top:30px;
font-family: Poppins;
font-size: 35px;
margin-left: 70px;

}
.user{
margin-top:20px;
font-family: Poppins;
font-size: 20PX;
}
.logout{
color: #4a50d5;
font-family: Poppins;
font-size: 20PX;
}
.hidden{
    visibility: hidden;
}
.logo{
width: 200PX;
height: 50PX;
margin-top: 20px;

}


